<!-- ---------- Footer -->
<div class="footer mx-auto">
  <div
    class="footer-container bg-charcolblack flex flex-col sm:flex-row items-center py-4 lg:px-20 md:px-10 px-3 sm:gap-0 gap-6"
  >
    <div
      class="footer-logo sm:w-[23%] w-[100%] flex sm:justify-start justify-center sm:items-srart items-center"
    >
      <img
        src="/images/imgs/footer-logo.svg"
        alt=""
        class="w-[150px] h-[80px]"
      />
    </div>
    <div
      class="links w-[100%] sm:w-[53%] flex flex-col sm:flex-row justify-center items-center text-ivorytransparent"
    >
      <ul
        class="flex lg:gap-10 md:gap-5 gap-2 md:text-[18px] sm:text-[16px] text-[14px] poppins font-regular"
      >
        <li class="grow cursor-pointer">
          <a href="/" class="hover:text-[#d4af37] hover:bg-inherit"> Home </a>
        </li>
        <li class="grow cursor-pointer">
          <a href="/admin/create" class="hover:text-[#d4af37] hover:bg-inherit">
            Admin
          </a>
        </li>
        <li class="grow cursor-pointer">
          <a href="/contact" class="hover:text-[#d4af37] hover:bg-inherit"> Contact Us </a>
        </li>
        <li class="grow cursor-pointer">
          <a href="/products" class="hover:text-[#d4af37] hover:bg-inherit">
            Wears
          </a>
        </li>
      </ul>
    </div>
    <div
      class="social-icons sm:w-[23%] w-[100%] flex sm:justify-end justify-center sm:items-srart items-center"
    >
      <ul class="flex md:gap-5 sm:gap-3 gap-5">
        <li class="float">
          <img
            src="/images/imgs/icon-1.svg"
            alt=""
            class="md:w-[30px] md:h-[30px] sm:w-[25px] sm:h-[25px]"
          />
        </li>
        <li class="float">
          <img
            src="/images/imgs/icon-2.svg"
            alt=""
            class="md:w-[30px] md:h-[30px] sm:w-[25px] sm:h-[25px]"
          />
        </li>
        <li class="float">
          <img
            src="/images/imgs/icon-3.svg"
            alt=""
            class="md:w-[30px] md:h-[30px] sm:w-[25px] sm:h-[25px]"
          />
        </li>
      </ul>
    </div>
  </div>
  <div class="copy-rights">
    <p
      class="text-center text-charcol-black poppins text-[14px] py-3 font-semibold"
    >
      &copy;rukshanda ALL Rights Reserved To The Creator
    </p>
  </div>
</div>
