<head>
  <!-- Meta -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="Content-Security-Policy" content="img-src 'self' data: https://res.cloudinary.com">

  <!-- Title -->
  <title>Lauré</title>

  <!-- External CSS -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css"
  />
  <link rel="stylesheet" href="/src/input.css">
  <link rel="stylesheet" href="/css/style.css" />

  <!-- Tailwind -->
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

  <!-- Tailwind Custom Theme -->
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            ivorywhite: "#faf9f7",
            charcolblack: "#1c1c1c",
            golden: "#d4af37",
            ivorytransparent: "#faf9f7cc",
          },
          screens: {
            custom: "450px",
            custom2: "1050px",
            custom3: "320px",
          },
        },
      },
    };
  </script>
</head>
