   <div class="marquee bg-charcolblack">
        <div class="marquee-track text-ivorywhite">
          <% for (let j = 0; j < 2; j++) { %>
          <!-- Duplicate block twice -->
          <% for (let i = 0; i < 9; i++) { %>
          <!-- Repeat the same text multiple times to fill width -->
          <span class="review playfair">Women Shopping Lauré</span>
          <% } %> <% } %>
        </div>
      </div>
