<!DOCTYPE html>
<html lang="en">

  <body>
    <%- include('./partials/header') %> <% if (error.length > 0) { %>
    <div
      class="flash-message absolute top-[8rem] sm:top-[5rem] left-[90%] sm:left-[60%] -translate-x-1/2 -translate-y-1/2 p-3 w-[80%] sm:w-[20%] text-center bg-red-500 text-white"
    >
      <% error.forEach(msg => { %>
      <p><%= msg %></p>
      <% }) %>
    </div>
    <% } %>

    <div
      class="contact-page w-full max-w-auto h-[100vh] py-20 xl:px-20 sm:px-10 px-5"
    >
      <div
        class="contact poppins w-full flex flex-col md:flex-row items-center h-full border border-[#1c1c1c] shadow-[rgba(0,0,0,0.3)_0px_19px_38px,rgba(0,0,0,0.22)_0px_15px_12px]"
      >
        <div
          class="contact-left w-[100%] md:w-[50%] flex xl:px-20 sm:px-10 px-5 flex-col py-10 md:py-0 gap-5 h-full justify-center"
        >
          <div class="contact-heading">
            <p class="text-4xl font-bold">Contact Us</p>
          </div>
          <div class="contact-content">
            <form
              action="/contact"
              method="post"
              class="contact-form flex flex-col gap-4 w-full lg:w-[80%]"
            >
              <input
                type="text"
                placeholder="Enter Your Name"
                name="name"
                class="bg-ivorywhite border border-[#d4af37] text-charcolblack px-3 py-5 placeholder-[#1c1c1c] outline-none"
              />
              <input
                type="email"
                placeholder="Enter Your Email"
                name="email"
                class="bg-ivorywhite border border-[#d4af37] text-charcolblack px-3 py-5 placeholder-[#1c1c1c] outline-none"
              />
              <textarea
                name=""
                id=""
                rows="6"
                name="msg"
                placeholder="Enter Your Message"
                class="px-3 py-5 resize-none bg-ivorywhite border border-[#d4af37] outline-none text-charcolblack placeholder-[#1c1c1c]"
              ></textarea>
              <button
                type="submit"
                class="bg-[#d4af37] border border-[#d4af37] text-charcolblack px-3 py-2 font-bold placeholder-[#1c1c1c] outline-none"
              >
                Send
              </button>
            </form>
          </div>
        </div>
        <div
          class="contact-right w-[100%] md:w-[50%] px-20 bg-charcolblack h-full flex justify-center"
        >
          <img src="/images/imgs/contact-logo.svg" alt="" />
        </div>
      </div>
    </div>

  </body>
</html>
