<!DOCTYPE html>
<html lang="en">

  <body>
    <% if (success.length > 0) { %>
    <div
      
      class="flash-message absolute top-[8rem] sm:top-[5rem] left-[90%] sm:left-[60%] -translate-x-1/2 -translate-y-1/2 p-3 w-[80%] sm:w-[20%] text-center bg-green-500 text-white"
    >
      <% success.forEach(msg => { %>
      <p><%= msg %></p>
      <% }) %>
    </div>
    <% } %> <% if (error.length > 0) { %>
    <div
      
      class="flash-message absolute top-[8rem] sm:top-[5rem] left-[90%] sm:left-[60%] -translate-x-1/2 -translate-y-1/2 p-3 w-[80%] sm:w-[20%] text-center bg-red-500 text-white"
    >
      <% error.forEach(msg => { %>
      <p><%= msg %></p>
      <% }) %>
    </div>
    <% } %>

    <div
      class="hero-section relative sm:min-h-screen min-h-[75vh] flex items-center justify-center"
    >
      <div
        class="absolute inset-0 bg-[url('/images/imgs/hero_bg.jpg')] bg-cover bg-top"
      ></div>
      <div class="hero-section-heading relative z-10">
        <p
          class="uppercase poppins sm:text-2xl text-xl font-medium animate__animated animate__slideInLeft"
        >
          timeless in style
        </p>
        <h1
          class="md:text-[100px] sm:text-[80px] text-[60px] flex flex-row sm:gap-5 gap-1 text-center text-charcol-black font-bold uppercase playfair tracking-[0.3em] animate__animated animate__slideInUp"
        >
          <span>l</span>
          <span>a</span>
          <span class=" ">u</span>
          <span class=" ">r</span>
          <span class="text-golden">é</span>
        </h1>
        <p
          class="uppercase sm:text-2xl text-xl text-right font-medium animate__animated animate__slideInRight"
        >
          effortless in elegance
        </p>
      </div>
    </div>
    <%- include("partials/marquee") %>
    <!-- ------ Cards -->
    <div
      class="category-card-section w-full flex flex-col justify-center items-center"
    >
      <div
        class="cards p-5 md:p-10 w-full flex md:flex-row flex-col justify-between gap-8"
      >
        <!-- Card 1 -->
        <div
          class="card flex flex-col justify-center md:w-[45%] bg-charcolblack opacity-0 transition-opacity duration-300"
          data-animate="backInLeft"
        >
          <div class="w-full relative">
            <div class="flex justify-center items-center">
              <img class="w-[400px]" src="/images/imgs/card-1-img.svg" loading="lazy" alt="" />
            </div>
            <div class="pt-5 bg-ivorywhite flex flex-col gap-6">
              <p
                class="playfair md:text-[35px] sm:text-[30px] text-[25px] text-center font-semibold"
              >
                Women Work Blazers
              </p>
              <a href="./products" class="hover:text-inherit hover:bg-inherit">
                <div
                  class="btn bg-golden py-[0.45rem] z-30 uppercase poppins text-xl tracking-wide font-semibold text-center w-full"
                >
                  Shop Now
                </div>
              </a>
            </div>
          </div>
        </div>

        <!-- Card 2 -->
        <div
          class="card flex flex-col justify-center md:w-[45%] bg-charcolblack opacity-0 transition-opacity duration-300"
          data-animate="backInLeft"
        >
          <div class="w-full relative">
            <div class="flex justify-center items-center">
              <img class="w-[473px]" src="/images/imgs/card-2-img.svg"  loading="lazy" alt="" />
            </div>
            <div class="pt-5 bg-ivorywhite flex flex-col gap-6">
              <p
                class="playfair md:text-[35px] sm:text-[30px] text-[25px] text-center font-semibold"
              >
                Women Summer Wears
              </p>
             <a href="./products" class="hover:text-inherit hover:bg-inherit">
                <div
                  class="btn bg-golden py-[0.45rem] z-30 uppercase poppins text-xl tracking-wide font-semibold text-center w-full"
                >
                  Shop Now
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ------- Testimonials -->
    <div class="max-w-[1440px] mx-auto">
      <div class="py-[80px]">
        <div class="flex justify-center items-center pb-8">
          <div class="heading bg-golden px-20 py-3 grow-rotate cursor-pointer">
            <h2
              class="uppercase font-semibold playfair md:text-3xl text-2xl text-center"
            >
              WHY lauré
            </h2>
          </div>
        </div>

        <!----- slider --- of testimonials -->

        <div class="swiper mySwiper md:p-[50px] py-[20px]">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div
                class="!py-8 !px-1 testimonial-card flex flex-col gap-3 border-2 border-[#d4af37] border-solid bg-ivorywhite text-charcolblack text-center"
              >
                <p class="uppercase playfair font-medium text-center text-2xl">
                  lauré
                </p>
                <div class="rating flex justify-center items-center">
                  <ul class="flex flex-row items-center gap-2">
                    <li>
                      <img src="/images/imgs/star-golden.svg"  loading="lazy"  alt="" />
                    </li>
                    <li>
                      <img src="/images/imgs/star-golden.svg"  loading="lazy" alt="" />
                    </li>
                    <li>
                      <img src="/images/imgs/star-golden.svg" loading="lazy"  alt="" />
                    </li>
                    <li>
                      <img src="/images/imgs/star-golden.svg" loading="lazy"  alt="" />
                    </li>
                    <li>
                      <img src="/images/imgs/star.svg" alt="" />
                    </li>
                  </ul>
                </div>
                <p class="text-center poppins text-[18px]">
                  Lauré has completely elevated my wardrobe — the pieces are
                  timeless yet modern, and the quality is exceptional. I’ve
                  never felt so effortlessly elegant.
                </p>
                <div
                  class="user-info flex flex-row gap-6 items-center pl-[15px]"
                >
                  <div
                    class="border-2 border-[#d4af37] border-solid w-[50px] h-[50px]"
                  >
                    <img src="/images/imgs/user-dp.svg" loading="lazy" alt="" />
                  </div>
                  <p class="text-xl poppins font-semibold">- Amna R.</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="!py-8 !px-1 testimonial-card flex flex-col gap-3 border-2 border-[#d4af37] border-solid bg-ivorywhite text-charcolblack text-center"
              >
                <p class="uppercase playfair font-medium text-center text-2xl">
                  lauré
                </p>
                <div class="rating flex justify-center items-center">
                  <ul class="flex flex-row items-center gap-2">
                    <li>
                      <img src="/images/imgs/star-golden.svg" loading="lazy" alt="" />
                    </li>
                    <li>
                      <img src="/images/imgs/star-golden.svg" loading="lazy" alt="" />
                    </li>
                    <li>
                      <img src="/images/imgs/star-golden.svg" loading="lazy" alt="" />
                    </li>
                    <li>
                      <img src="/images/imgs/star-golden.svg" loading="lazy" alt="" />
                    </li>
                    <li>
                      <img src="/images/imgs/star.svg" loading="lazy" alt="" />
                    </li>
                  </ul>
                </div>
                <p class="text-center poppins text-[18px]">
                  Lauré has completely elevated my wardrobe — the pieces are
                  timeless yet modern, and the quality is exceptional. I’ve
                  never felt so effortlessly elegant.
                </p>
                <div
                  class="user-info flex flex-row gap-6 items-center pl-[15px]"
                >
                  <div
                    class="border-2 border-[#d4af37] border-solid w-[50px] h-[50px]"
                  >
                    <img src="/images/imgs/user-dp.svg" loading="lazy" alt=""  />
                  </div>
                  <p class="text-xl poppins font-semibold">- Amna R.</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="!py-8 !px-1 testimonial-card flex flex-col gap-3 border-2 border-[#d4af37] border-solid bg-ivorywhite text-charcolblack text-center"
              >
                <p class="uppercase playfair font-medium text-center text-2xl">
                  lauré
                </p>
                <div class="rating flex justify-center items-center">
                  <ul class="flex flex-row items-center gap-2">
                    <li>
                      <img src="/images/imgs/star-golden.svg"  loading="lazy"  alt="" />
                    </li>
                    <li>
                      <img src="/images/imgs/star-golden.svg"  loading="lazy" alt="" />
                    </li>
                    <li>
                      <img src="/images/imgs/star-golden.svg"  loading="lazy" alt="" />
                    </li>
                    <li>
                      <img src="/images/imgs/star-golden.svg"  loading="lazy" alt="" />
                    </li>
                    <li>
                      <img src="/images/imgs/star.svg" alt="" />
                    </li>
                  </ul>
                </div>
                <p class="text-center poppins text-[18px]">
                  Lauré has completely elevated my wardrobe — the pieces are
                  timeless yet modern, and the quality is exceptional. I’ve
                  never felt so effortlessly elegant.
                </p>
                <div
                  class="user-info flex flex-row gap-6 items-center pl-[15px]"
                >
                  <div
                    class="border-2 border-[#d4af37] border-solid w-[50px] h-[50px]"
                  >
                    <img src="/images/imgs/user-dp.svg" loading="lazy" alt="" />
                  </div>
                  <p class="text-xl poppins font-semibold">- Amna R.</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="!py-8 !px-1 testimonial-card flex flex-col gap-3 border-2 border-[#d4af37] border-solid bg-ivorywhite text-charcolblack text-center"
              >
                <p class="uppercase playfair font-medium text-center text-2xl">
                  lauré
                </p>
                <div class="rating flex justify-center items-center">
                  <ul class="flex flex-row items-center gap-2">
                    <li>
                      <img src="/images/imgs/star-golden.svg" loading="lazy" alt="" />
                    </li>
                    <li>
                      <img src="/images/imgs/star-golden.svg" loading="lazy" alt="" />
                    </li>
                    <li>
                      <img src="/images/imgs/star-golden.svg"  alt="" />
                    </li>
                    <li>
                      <img src="/images/imgs/star-golden.svg"  loading="lazy" alt="" />
                    </li>
                    <li>
                      <img src="/images/imgs/star.svg" loading="lazy" alt="" />
                    </li>
                  </ul>
                </div>
                <p class="text-center poppins text-[18px]">
                  Lauré has completely elevated my wardrobe — the pieces are
                  timeless yet modern, and the quality is exceptional. I’ve
                  never felt so effortlessly elegant.
                </p>
                <div
                  class="user-info flex flex-row gap-6 items-center pl-[15px]"
                >
                  <div
                    class="border-2 border-[#d4af37] border-solid w-[50px] h-[50px]"
                  >
                    <img src="/images/imgs/user-dp.svg" loading="lazy" alt="" />
                  </div>
                  <p class="text-xl poppins font-semibold">- Amna R.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </div>

    <!-- ----- Gallery Section -->
<div class="gallery relative max-w-[1600px] mx-auto ">
  <div class="w-full sm:p-8 p-[10px]">
    <div
      class="grid 
             md:grid-cols-[1fr_2fr_1fr_1fr] 
             sm:grid-cols-[1fr_2fr_1fr] 
             grid-cols-[1fr_1fr]
             md:auto-rows-[minmax(150px,_1fr)] 
             sm:auto-rows-[minmax(120px,_1fr)] 
             auto-rows-[minmax(100px,_1fr)]
             gap-2 sm:gap-5 p-2.5"
    >
      <!-- Item 1 -->
      <div class="gallery-card col-start-1 row-start-2">
        <img src="/images/imgs/gallery-8.svg" loading="lazy" alt=""
          class=" border-solid border-2 border-[#d4af37]  object-cover w-full h-full" />
      </div>

      <!-- Item 2 -->
      <div class="gallery-card">
        <img src="/images/imgs/gallery-1.svg" loading="lazy" alt=""
          class=" border-solid border-2 border-[#d4af37]  object-cover w-full h-full" />
      </div>

      <!-- Item 3 (tall image spanning 2 rows in middle column) -->
      <div class="gallery-card row-span-2 col-start-2">
        <img src="/images/imgs/gallery-2.svg" loading="lazy" alt=""
          class=" border-solid border-2 border-[#d4af37]  object-cover w-full h-full" />
      </div>

      <!-- Item 4 (wide image responsive placement) -->
      <div
        class="gallery-card col-start-2 row-start-3 
               sm:col-start-3 sm:col-span-2 sm:row-start-1 
               md:col-start-3 md:col-span-1 md:row-start-1"
      >
        <img src="/images/imgs/gallery-3.svg" loading="lazy" alt=""
          class=" border-solid border-2 border-[#d4af37]  object-cover w-full h-full" />
      </div>

      <!-- Item 5 -->
      <div
        class="gallery-card 
               sm:col-start-3 sm:row-start-2 
               md:col-start-4 md:row-start-1"
      >
        <img src="/images/imgs/gallery-4.svg" loading="lazy" alt=""
          class=" border-solid border-2 border-[#d4af37]  object-cover w-full h-full" />
      </div>

      <!-- Item 6 (below item 4) -->
      <div
        class="gallery-card col-span-1 row-start-4 col-start-2
               sm:col-span-2 sm:row-start-3
               md:col-start-3 md:col-span-1 md:row-start-2"
      >
        <img src="/images/imgs/gallery-5.svg" loading="lazy" alt=""
          class=" border-solid border-2 border-[#d4af37]  object-cover w-full h-full" />
      </div>

      <!-- Item 7 -->
      <div
        class="gallery-card md:col-start-4 col-start-1 
               md:row-start-2 sm:row-start-3 row-start-4"
      >
        <img src="/images/imgs/gallery-6.svg" loading="lazy" alt=""
          class=" border-solid border-2 border-[#d4af37]  object-cover w-full h-full" />
      </div>
    </div>
  </div>

  <!-- Heading Overlay -->
  <div class="gallery-heading flex justify-center items-center"> <div class="absolute z-10 top-[45%]"> <div class="uppercase md:text-[180px] sm:text-[150px] text-[60px] font-bold playfair flex flex-row sm:gap-[120px] text-ivorytransparent" > <span>L</span> <span>a</span> <span>u</span> <span>r</span> <span>é.</span> </div> </div> </div> </div>


    <!-- --- Footer -->

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script src="/javascripts/script.js"></script>

  </body>
</html>
