<!DOCTYPE html>
<html lang="en">

  <body>
    <% if (error && error.length > 0) { %>
    <div
      
      class="flash-message absolute top-[8rem] sm:top-[5rem] left-[90%] sm:left-[60%] -translate-x-1/2 -translate-y-1/2 p-3 w-[80%] sm:w-[20%] text-center bg-red-500 text-white"
    >
      <%= error[0] %>
    </div>
    <% } %> <% if (success && success.length > 0) { %>
    <div
      
      class="flash-message absolute top-[8rem] sm:top-[5rem] left-[90%] sm:left-[60%] -translate-x-1/2 -translate-y-1/2 p-3 w-[80%] sm:w-[20%] text-center bg-green-500 text-white"
    >
      <% success.forEach(msg => { %>
      <p><%= msg %></p>
      <% }) %>
    </div>
    <% } %> <% if (loginSuccess && loginSuccess.length > 0) { %>
    <div
      
      class="flash-message absolute top-[12rem] sm:top-[8rem] left-[90%] sm:left-[60%] -translate-x-1/2 -translate-y-1/2 p-3 w-[80%] sm:w-[20%] text-center bg-blue-500 text-white"
    >
      <% loginSuccess.forEach(msg => { %>
      <p><%= msg %></p>
      <% }) %>
    </div>
    <% } %>

    <div
      class="bg-[url('/images/imgs/signup-bg.svg')] bg-cover bg-center bg-no-repeat sm:min-h-screen w-full flex md:items-center mb-10"
    >
      <div class="w-full">
        <div class="auth-forms lg:px-20 sm:px-10 px-2 py-10">
          <div class="w-full">
            <div class="signup-heading pb-8">
              <p class="text-4xl poppins font-bold">Login To Lauré</p>
            </div>

            <div class="flex justify-center">
              <!-- Login Section -->
              <div class="login lg:w-[50%] w-[100%] md:p-10 sm:p-5 p-3">
                <div
                  class="login-container bg-charcolblack lg:py-20 lg:px-20 sm:py-10 sm:px-10 py-5 px-5 poppins flex flex-col gap-3 shadow-[0_4px_6px_rgba(212,175,55,0.4)] border-4 border-solid border-[#d4af37]"
                >
                  <p class="text-2xl font-semibold poppins text-ivorywhite">
                    Login
                  </p>
                  <form
                    action="/users/login"
                    method="post"
                    class="flex flex-col gap-4 pt-2"
                  >
                    <input
                      type="email"
                      name="email"
                      placeholder="Enter Your Email"
                      class="px-3 sm:py-5 py-4 border border-2 border-[#d4af37] placeholder-[#1c1c1c] outline-none bg-ivorywhite"
                    />
                    <input
                      type="password"
                      name="psw"
                      placeholder="Enter Your Password"
                      class="px-3 sm:py-5 py-4 border border-2 border-[#d4af37] placeholder-[#1c1c1c] outline-none bg-ivorywhite"
                    />
                    <button
                      type="submit"
                      class="px-3 py-2 border border-2 border-[#d4af37] text-center font-bold w-full text-ivorywhite outline-none bg-[#d4af37]"
                    >
                      Login
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/javascripts/script.js"></script>
    <script src="/javascripts/flashmessage.js"></script>
  </body>
</html>
